@import "bourbon";
@import "neat";

$baseline: 12px;

body{
  margin: 0;
  min-height: $baseline*200;

}

.editable{
  outline: none;
}

article{
  header, section{
    @include shift(2);
    @include span-columns(8);
    margin-top: $baseline*6;
  }

  #authors{
    .first-author, .second-author{
      @include span-columns(6);

      img{
        width: 128px;
        height: 128px;
        background: #eee;
      }
    }
  }

  > p{
    font-family: Georgia;
    font-size: 18px;
  }

  h1{
    text-shadow: 0 0 9px white;
    font-size: $baseline*5;
    font-style: italic;
    font-family: "jaf-lapture-caption";
    line-height: $baseline*5;
    color: black; 
  }
  h2{
    font-size: $baseline*2;
    line-height: $baseline*2;
    font-family: "jaf-lapture-caption";
    font-weight: 300;
  }

  h1, h2, h3, h4{
    margin: 0;
    // the editor adds a p to the element
    // so this is a workaround
    p{
      margin: 0;
    }
  }
  h3{
    font-family: "jaf-lapture-caption";
    font-size: 36px;
    margin: 0;
    + p{
      margin-top: 0;
    }
  }

  h4{
    font-family: "jaf-lapture-caption";
    font-size: 28px;
    margin: 0;
    + p{
      margin-top: 0;
    }
  }
}
